/*general*/
  .d-flex{
    display: flex;
  }
  .height-100{
    height: 100%;
  }
  .align-items-c{
    align-items: center;
  }
  .width-100{
    width: 100%;
  }
  .bg-blue {
    background: #00BCD4;
  }
  .img-fluid-100{
    height: auto;
    width: 100%;
  }
  .activeHeader{
    background:#f2705a;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  }
/* end general */
  
  /*Bienvenida*/
  .block-welcome,.block-init,.block-login{
    height: 100vh;
  }
  .block-img-welcome{
    position: fixed;
    bottom: 0;
  }
  .block-top{
    background: url(/images/bienvenida/fondo-superior.png) center;
    background-size: cover;
    padding: 20px 20px 100px 20px;/**/
  }
  .figure-welcome {
    margin: 1.5em 0;
    text-align: center;
  }
  .figure-welcome img{
    animation-duration: 2s;
    height: 100%;
  }
  .size-1{
    height: 100px;
  }
  .size-2{
    height: 120px;
  }
  .size-3{
    height: 90px;
  }
  #fig-1{
    transform: translate(-50px, 100px) rotate(-10deg);
  }
  .content-text {
    margin: 6em 0 4em 0;
  }
  .title-welcome {
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px;
  }
  .subtitle-home{
    font-size: 2rem;
    font-family: 'Luckiest Guy', cursive;
    color: #605f5f;
  }
  .img-banner{
    max-width: 250px;
  }
  
  
  /*Inicio*/
  .block-top-init{
    background: url(/images/inicio/bg_inicio.png) bottom left ; 
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
  }

  .block-top-init-text{
    display: flex;
    align-items: flex-end;
  }
  header{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
  }
  #img-init-main{
    width: 500px;
    max-width: 70%;
    height: auto;
  }
  #section2 {
    padding-top: 3rem;
  }
  #section3 {
    padding: 6rem 0;
  }
  
  .bg-login{
      background: url(/images/fondos/fondo-login.png) center ;
      background-size: cover;
  }
  .bg-register{
    background: url(/images/fondos/fondo-registro.png) center ;/*cambiar imagen*/
    background-size: cover;
}

  @media screen and (max-width: 768px) {
    .title-welcome {
      font-family: 'Luckiest Guy', cursive;
      font-size: 50px;
    }
    .header-lists{
      width: 100%;
      text-align: center;
    }
    .header-lists-user{
      position: absolute;
      top: 20px;
      right: 4em;
    }
    .header-lists-user>ul {
      flex-direction: row;
    }
  }
  
  @media screen and (max-width: 576px) {
    .block-top-init{
      order: 0;
    }
    .block-top-init-text{
      order: 1;
    }
    .block-top-init-text {
      align-items: center !important;
    }
    #img-init-main{
      height: 110px;
      margin-top: 4em;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .block-img-welcome{
      position: static;
    }
  }